extends ./layouts/ans_main

block content
    style.
        th,td {
                border:1px solid darkslategrey;
                padding:auto;
                margin:auto;
                margin-top:50px;
                width:400px;
                text-align:center;
            }
    script.
        var i=0;

    #prob
        if idx==0
            h3 생성된 답안이 없습니다.
        else 
            table  
                th 답안 번호
                th 답안
                th 제작자
                th 제작일자
                th 수정자
                th 수정일자 
                th
                each obj in list
                    tr 
                        td 
                            script.
                                document.write(i);
                                i++
                        td
                            p=obj.answ_value
                        td
                            p=obj.rgstr_id
                        td
                            p=obj.rgst_dt
                        td
                            p=obj.updtr_id
                        td
                            p=obj.updt_dt
                        td
                            table
                                td
                                    p 수정
                                td
                                    p 삭제