extends ./layouts/main

block content
    style.
        th,td {
                border:1px solid darkslategrey;
                padding:auto;
                margin:auto;
                margin-top:50px;
                width:400px;
                text-align:center;
            }
    script.
        var idx = #{idx};
        var i=1;
    
    #exam
        if idx==0
            h3 생성된 시험이 없습니다.
        else 
            table  
                th 시험 번호
                th 시험 제목
                th 시험 시작 일
                th 시험 종료 일
                th 제작자
                th 제작일자
                th 수정자
                th 수정일자
                th
                each obj in list
                    tr 
                        td 
                            script.
                                document.write(i);
                                i++
                        td
                            p=obj.title
                        td
                            p=obj.vald_strt_dd
                        td
                            p=obj.vald_end_dd
                        td
                            p=obj.rgstr_id
                        td
                            p=obj.rgst_dt
                        td
                            p=obj.updtr_id
                        td
                            p=obj.updt_dt
                        td
                            table
                                td 
                                    a(href="/take_exam/"+obj.exam_id) 응시
                                td
                                    a(href="/prob/"+obj.exam_id) 문제
                                td
                                    a(href="/cor_exam/"+obj.exam_id) 답생성
                                td
                                    p 수정
                                td
                                    a(href="/delete_exam/"+obj.exam_id) 삭제