extends ./layouts/prob_main

block content
    style.
        th,td {
                border:1px solid darkslategrey;
                padding:auto;
                margin:auto;
                margin-top:50px;
                width:400px;
                text-align:center;
            }
    script.
        var idx = #{idx};
        var i=0;

    #prob
        if idx==0
            h3 생성된 문제가 없습니다.
        else 
            table  
                th 문제 번호
                th 문제
                th 문제 종류
                th 배점
                th 제작자
                th 제작일자
                th 수정자
                th 수정일자 
                th
                each obj in list
                    tr 
                        td 
                            script.
                                document.write(i)
                                i++
                        td
                            img(src = obj.prob_img,width="200",height="200")
                        td
                            p=obj.prob_kind
                        td
                            p=obj.prob_num
                        td
                            p=obj.rgstr_id
                        td
                            p=obj.rgst_dt
                        td
                            p=obj.updtr_id
                        td
                            p=obj.updt_dt
                        td
                            table
                                td
                                    p 수정
                                td
                                    a(href="/answer/"+obj.prob_id) 답안
                                td
                                    a(href="/delete_prob/"+obj.prob_id) 삭제
